/* Hoja de estilos CSS */

/* Fondo oscuro */
body {
    background-image: url('fondoo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #000000; /* Color negro para el texto */
    font-family: Monotype Corsiva, serif;; /* Fuente similar a la de la imagen */
    font-style: italic;
    font-weight: bold;
    font-size: 150%;
    line-height: 1.6;
    letter-spacing: 0.0em;
}

h1 {
    text-align: center;
    font-size: 2rem; /* Aumenta el tamaño de la fuente */
    font-family: Monotype Corsiva, serif; /* Cambia la fuente a una más elegante */
    font-style: italic;
    font-weight: bold;
    font-size: 200%;
    line-height: 1.6;
    letter-spacing: 0.0em;
    color: #black;
    margin-top: 50px;
    margin-bottom: 20px;
}

p {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
}

/* Marco como imagen */
.frame {
    background-image: url('marco.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 70%;
    height: 1000px;
    margin: 0 auto;
    padding: 180px;
}
